/* article */
article {
  /* background-color: #fce6c3; */
  width: 90vw;
  border:5px solid #545149;
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
article:hover {
  box-shadow: 5px 10px #c7c7c7;
}
/* header */
article header {
  width: 83vw;
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
}

/* main */
p {
  width: 85vw;
  border-bottom: 5px solid #545149;
  padding: 1em;
  font-weight: bold;
}
/*img and name */
article div {
  display: flex;
}
/* user name */
header div span {
  padding-left: 0.5em;
  align-self: center;
}
/* user ID */
header > span {
  color: #c7c7c7;
  font-weight: bold;
  display: flex;
  align-items: center;
}
/* time and icon */
footer {
  font-size: 17px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-top: 0px;
}
/* icon */
footer div {
  color: #4056A1;
  width: 90px;
  justify-content: space-between;
}
/* each icon hover */
footer div > i:hover {
  color: #b151c9;
}

/* add responsive design break point for desktop */
@media only screen and (min-width: 1024px) {
  .user-tweet {
    width: 60vw;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  article {
    width: 50vw;
  }
  article header {
    width: 45vw;
  }
  p {
    width: 45vw;
  }
  footer {
    width: 45vw;
  }
}