/* article */
.tweet {
  background-color: #fce6c3;
  width: 90vw;
  border:5px solid #545149;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #545149;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tweet:hover {
  box-shadow: 5px 10px #c7c7c7;
}
/* header */
.tweet-header {
  width: 83vw;
  height: 10vh;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
/* main */
.tweet-main {
  width: 85vw;
  border-bottom: 5px solid #545149;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-weight: bold;
}
/*img and name */
div {
  display: flex;
}
/* user name */
.name {
  margin-top: 0;
  padding-left: 0.5em;
  display: flex;
  align-self: center;
}
/* user ID */
.user-link {
  color: #c7c7c7;
  size: 2em;
  font-weight: bold;
  display: flex;
  align-items: center;
}
/* time and icon */
footer {
  font-size: 17px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-top: 10px;
}
/* icon */
.icon {
  color: #4056A1;
  width: 8vw;
  display: flex;
  justify-content: space-between;
}
/* each icon hover */
.icon > i:hover {
  color: #b151c9;
}