header {
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #bf5900;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  z-index: -1;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}