nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.logo {
  font-size: 40px;
}

.write {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.fas {
  color: #bf5900;
  display: flex;
  height: 30px;
  justify-content: center;
  animation: motion 0.3s linear 0s infinite alternate; 
  margin-top: 0;
}

/* icon angle doble down animation */
@keyframes motion {
	0% {padding-top: 0px;}
	100% {padding-top: 5px;}
}