textarea {
  width: 90vw;
  height: 60px;
  background-color: #fce6c3;
  border: none;
  resize: none;
  border-bottom: 5px solid black;
}
textarea:focus {
  outline: none;
}
textarea::-webkit-scrollbar {
  width: 10px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
textarea::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}


.active {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  padding-top: 20px;
}

button {
  background-color: #4056A1;
  border: none;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  font-size: 30px;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
button:hover {
  background-color: #000836;
}
/* if textarea character is greater than 140, color red */
.red {
  color: red;
}